.image {
  display: flex;
  place-content: center;
  place-items: center;

  &.square {
    > img {
      aspect-ratio: 1/1;
    }
  }

  &.rounded {
    > img {
      border-radius: 100%;
    }
  }

  > img {
    max-width: 100%;

    object-fit: cover;
    object-position: center;
  }
}
