.topbar-search {
  display: flex;
  gap: var(--size-md);

  position: relative;

  > .field-component {
    width: var(--size-topbar-search);
  }

  > .dropdown {
    width: 100%;

    > .card {
      width: 100%;
      padding: var(--size-sm);
    }
  }
}
