.profile-route {
  display: flex;
  gap: var(--size-lmd);

  .profile-info {
    display: flex;
    flex-flow: column;
    gap: var(--size-lmd);

    flex: 1;

    > header {
      display: flex;
      place-items: flex-start;
      gap: var(--size-lg);

      .image {
        width: var(--size-avatar);
      }

      > main {
        display: flex;
        flex-flow: column;
        gap: var(--size-smd);

        flex: 1;

        > ul {
          display: flex;
          flex-flow: column;
          gap: var(--size-sm) var(--size-md);
          flex-wrap: wrap;

          > li {
            > a {
              display: flex;
              place-items: center;
              gap: var(--size-sm);

              color: var(--color-primary);
              text-decoration: none;

              > svg {
                width: var(--size-md);
                height: var(--size-md);
              }
            }
          }
        }
      }
    }
  }
}

.no-profile {
  display: flex;
  place-content: center;
  place-items: center;

  flex: 1;
  padding: var(--size-xl);
}
