.typography {
  color: var(--color-text);

  &:is(p, span, h3) {
    font-size: var(--size-md);
  }

  &:is(h1) {
    font-size: var(--size-lg);
  }

  &:is(h2) {
    font-size: var(--size-lmd);
  }

  &:is(.small) {
    font-size: var(--size-smd);
    font-weight: 300;
  }

  &:is(p) {
    line-height: var(--line-height-md);
  }
}

a .typography {
  color: inherit;
}
