.notifications-counter {
  display: flex;
  place-content: center;
  place-items: center;

  position: absolute;
  top: var(--size-xs);
  right: var(--size-xs);
  z-index: 99;

  width: var(--size-md);
  aspect-ratio: 1/1;

  font-size: var(--size-smd);

  background-color: var(--color-primary);
  border-radius: 100%;
}
