.dropdown {
  position: absolute;
  top: calc(100% + var(--size-sm));
  right: 0;
  z-index: 99;

  > .card {
    box-shadow: 0 0 var(--size-sm) var(--size-xs) var(--color-background);
  }

  &.open {
    display: flex;
  }

  &:not(.open) {
    display: none;
  }
}
