.dropdown {
  position: absolute;
  z-index: 99;

  > .card {
    box-shadow: 0 0 var(--size-sm) var(--size-xs) var(--color-background);
  }

  &.open {
    display: flex;
  }

  &:not(.open) {
    display: none;
  }

  &:not(.left) {
    right: 0;
  }

  &.left {
    left: 0;
  }

  &:not(.top) {
    top: calc(100% + var(--size-sm));
  }

  &.top {
    bottom: calc(100% + var(--size-sm));
  }
}
