.topbar-actions {
  display: flex;
  place-items: center;
  place-content: flex-end;
  gap: var(--size-smd);

  > .button {
    width: var(--size-xl);

    > svg {
      width: var(--size-lmd);
      height: var(--size-lmd);
    }
  }
}
