.topbar-search-result-item {
  > .link {
    display: flex;
    place-items: center;
    gap: var(--size-md);

    padding: var(--size-sm);

    border-radius: var(--size-sm);

    &:hover {
      background-color: var(--color-background);
    }

    > .image {
      max-width: var(--size-lg);
    }
  }
}
