.profile-header-links {
  display: flex;
  flex-flow: column;
  gap: var(--size-sm) var(--size-md);
  flex-wrap: wrap;

  > li {
    > a {
      display: flex;
      place-items: center;
      gap: var(--size-sm);

      color: var(--color-primary);
      text-decoration: none;

      > svg {
        width: var(--size-md);
        height: var(--size-md);
      }
    }
  }
}
