.link {
  display: flex;
  place-items: center;
  gap: var(--size-md);

  font-size: var(--size-md);
  text-decoration: none;

  transition: background-color 0.3s, color 0.3s;

  &.square {
    aspect-ratio: 1;
  }

  &:not(.link-button) {
    color: var(--color-primary);

    &:is(.active, :hover) {
      color: var(--color-primary-active);
    }
  }

  &.link-button {
    place-content: center;
    padding: var(--size-sm);

    color: var(--button-text-color);

    border-radius: var(--size-sm);
    background-color: var(--button-primary);

    &:hover {
      background-color: var(--button-primary-hover);
    }
  }
}
