.suggestion {
  display: flex;
  flex-flow: column;
  gap: var(--size-lmd);

  > header {
    display: flex;
    place-content: space-between;
    place-items: center;
  }

  > ul {
    display: flex;
    flex-flow: column;
    gap: var(--size-lmd);

    > li {
      display: flex;
      place-items: center;
      gap: var(--size-md);

      > section {
        display: flex;
        flex-flow: column;
        gap: var(--size-xs);

        overflow: hidden;
        flex: 1;

        > a {
          display: inline-block;

          max-width: 100%;
          overflow: hidden;
          height: calc(var(--size-xs) + var(--size-md));

          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      > a {
        > picture {
          > img {
            max-width: var(--size-xl);
          }
        }
      }
    }
  }
}
