.navbar {
  display: flex;
  flex-flow: column;
  place-items: center;
  gap: var(--size-smd);

  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;

  width: var(--size-navbar);
  min-height: 100vh;
  padding: var(--size-md) 0;

  border-right: 1px solid var(--color-border);

  > picture {
    > img {
      max-height: var(--size-logo);
    }
  }

  .navbar-menu {
    position: relative;

    width: 100%;

    > ul {
      width: 100%;

      > li {
        > .link {
          width: 100%;
          padding: var(--size-smd) var(--size-lmd);

          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: var(--color-background-hover);
          }

          > svg {
            width: var(--size-lmd);
            height: var(--size-lmd);
          }
        }
      }
    }
  }
}
