.register-form {
  > .card {
    display: flex;
    flex-flow: column;
    gap: var(--size-lmd);

    width: var(--size-login);
    padding: var(--size-lg);

    background-color: var(--color-background);
    box-shadow: 0 0 var(--size-lg) calc(var(--size-md) * -1)
      var(--color-primary);
    border: 1px solid var(--color-primary);

    > .image {
      > img {
        max-height: var(--size-logo);
      }
    }

    > .register-navigation {
      display: flex;
      place-content: center;
    }
  }
}
