.profiles-list {
  display: flex;
  flex-flow: column;
  gap: var(--size-lmd);

  width: var(--size-topbar-notifications);

  > header {
    display: flex;
    place-items: center;
    place-content: space-between;
  }

  > ul {
    display: flex;
    flex-flow: column;
    gap: var(--size-lmd);

    max-height: var(--size-profiles-list);
    overflow-y: auto;
  }
}
