.profile-form {
  display: flex;
  flex-flow: column;
  gap: var(--size-lmd);

  padding: var(--size-lmd);

  > .card {
    display: flex;
    place-items: flex-start;
    gap: var(--size-lg);

    > form {
      flex: 1;

      .field-component > .field-wrapper > .field:is(textarea) {
        min-height: calc(var(--size-xl) * 3);
      }
    }

    > .profile-picture-changer {
      display: flex;
      flex-flow: column;
      gap: var(--size-md);

      > main {
        padding: var(--size-sm);

        border-radius: 100%;
        background-color: var(--card-field-background);

        > .field-component {
          display: none;
        }

        .image {
          width: var(--size-avatar);

          > img {
            width: 100%;
          }
        }
      }
    }
  }
}
