.profile-form {
  display: flex;
  flex-flow: column;
  gap: var(--size-lmd);

  > .card {
    display: flex;
    place-items: flex-start;
    gap: var(--size-lg);

    > form {
      flex: 1;

      .field-component > .field-wrapper > .field:is(textarea) {
        min-height: calc(var(--size-xl) * 3);
      }

      > .profile-form-links {
        > header {
          display: flex;
          place-items: center;
          place-content: space-between;

          > .button {
            height: auto;
          }
        }

        > ul {
          display: flex;
          flex-flow: column;
          gap: var(--size-smd);

          > li {
            display: flex;
            place-items: flex-end;
            gap: var(--size-smd);

            .field-component {
              flex: 1;
            }

            svg {
              width: var(--size-lmd);
              height: var(--size-lmd);
            }
          }
        }
      }
    }

    > .profile-picture-changer {
      display: flex;
      flex-flow: column;
      gap: var(--size-md);

      > main {
        padding: var(--size-sm);

        border-radius: 100%;
        background-color: var(--card-field-background);

        > .field-component {
          display: none;
        }

        .image {
          width: var(--size-avatar);

          > img {
            width: 100%;
          }
        }
      }
    }
  }
}
