.notifications {
  position: relative;

  > .button {
    svg {
      width: var(--size-lmd);
      height: var(--size-lmd);
    }
  }

  .notifications-counter {
    position: absolute;
    right: var(--size-xs);
    top: var(--size-xs);
    z-index: 1;

    display: flex;
    place-content: center;
    place-items: center;

    width: var(--size-md);
    aspect-ratio: 1/1;

    font-size: var(--size-smd);
    color: var(--color-text);

    background-color: var(--color-primary);
    border-radius: 100%;
  }

  .notifications-dropdown {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;

    width: var(--size-notifications);
    min-height: var(--size-notifications-height);

    .notifications-list {
      display: flex;
      flex-flow: column;
      gap: var(--size-lmd);
    }
  }
}
