.feed-item {
  display: flex;

  > .card {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    width: 100%;

    .feed-item-header {
      display: flex;
      place-items: flex-start;
      place-content: space-between;
      gap: var(--size-md);

      > .button {
        height: auto;

        svg {
          width: var(--size-md);
          height: var(--size-md);
        }
      }

      > main {
        display: flex;
        place-items: center;
        gap: var(--size-md);

        > a > .image > img {
          max-width: var(--size-xl);
        }

        > .feed-item-header-user-id {
          display: flex;
          flex-flow: column;
          gap: var(--size-sm);

          > span > a {
            display: inline;
          }
        }
      }
    }

    > main {
      display: flex;
      flex-flow: column;
      place-items: flex-start;
      gap: var(--size-md);
    }
  }
}
