.loading {
  display: flex;
  place-content: center;
  place-items: center;

  color: var(--color-text);

  > svg {
    width: var(--size-md);
    height: var(--size-md);

    animation: spin-loader 0.75s normal infinite linear;
  }
}

@keyframes spin-loader {
  100% {
    transform: rotate(360deg);
  }
}
