.profile-header {
  display: flex;
  place-items: flex-start;
  gap: var(--size-lmd);

  .profile-header-picture {
    padding: var(--size-smd);

    border-radius: 100%;
    background-color: var(--card-field-background);

    .image {
      width: var(--size-avatar);
      height: var(--size-avatar);
    }
  }

  > main {
    display: flex;
    flex-flow: column;
    gap: var(--size-smd);

    flex: 1;

    > .profile-name {
      display: flex;
      flex-flow: column;
      gap: var(--size-xs);
    }

    > .profile-actions {
      display: flex;
      gap: var(--size-sm);

      .button {
        height: auto;

        > svg {
          width: var(--size-lmd);
          height: var(--size-lmd);
        }
      }
    }
  }
}
