:root {
  --color-primary: #5182df;
  --color-primary-active: #154bae;

  --color-error: #ff637b;

  --color-text: #e0e0e0;
  --color-border: #161625;

  --color-background: #00051a;
  --color-background-hover: #061031;

  --button-text-color: #e4e1e8;
  --button-primary: #154bae;
  --button-primary-hover: #5182df;
  --button-primary-disabled: #84a4de;
  --button-cancel: #ff2244;
  --button-cancel-hover: #ff637b;
  --button-cancel-disabled: #ffa4b1;

  --field-background: #061031;
  --field-text: #e0e0e0;
  --field-focus-border: #154bae;

  --card-background: #061031;
  --card-field-background: #0b1b50;

  --modal-background: #060617b2;
  --profile-picture-change-overlay: #060617b2;

  --size-xxs: 2px;
  --size-xs: 4px;
  --size-sm: 8px;
  --size-smd: 12px;
  --size-md: 16px;
  --size-lmd: 24px;
  --size-lg: 36px;
  --size-xl: 48px;

  --size-profiles-list: 240px;
  --size-login: 400px;
  --size-navbar: 280px;
  --size-home-suggestions: 360px;
  --size-profile-lists: 360px;
  --size-notifications: 360px;
  --size-notifications-height: 120px;
  --size-new-post: 640px;
  --size-logo: 96px;
  --size-navbar-profile-avatar: 108px;
  --size-avatar: 192px;

  --body-wrapper: clamp(320px, 1160px, 100%);

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family: 'Winky Rough', sans-serif;

  --line-height-single: 1;
  --line-height-sm: 1.2;
  --line-height-md: 1.5;
  --line-height-lg: 1.8;
  --line-height-double: 2;
}
